h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}
button {
    font-family: "Raleway", sans-serif;
    padding: 15px;
    margin-top: 30px;
    font-size: 40px;
}
a{
    font-family: "Raleway";
    color: #F15B31;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
    border-bottom: 2px solid transparent;
}
h2{
    font-family: "Raleway";
    color: #0D2C40;
    letter-spacing: 600;
    font-size: 20px;
}
p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
}

body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0;
}

nav a{
    color: white;
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 8px;
}

footer{
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: 0.80em;
    font-weight: 500;
}

.copyright{
    font-family: "Raleway";
    float: left;
}

.message{
    font-family: "Raleway";
    float: right;
}
#score{
    font-size: 20px;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name{
    color: #F15B31;
    font-weight: 700;
}


a:hover{
    border-color: white;
}
